/* Add CSS Styling */

.odd {
    background-color: rgb(255, 180, 180);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.cool {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(135, 255, 135);
    font-size: 24px;
    font-weight: bold;
}